<a href="https://colab.research.google.com/github/sooibn/Bigpy/blob/main/2%EC%A3%BC%EC%B0%A8_%EC%8A%A4%ED%84%B0%EB%94%94%EC%9E%90%EB%A3%8C_%EC%9D%B4%EC%88%98%EB%B9%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 02-4 튜플 자료형

In [49]:
t1 = ()
t2 = (1,) # 1개의 요소를 가질 때는 요소 뒤에 쉼표(,)
t3 = (1, 2, 3)
t4 = 1, 2, 3 # 소괄호 생략 가능
t5 = ('a', 'b', ('ab', 'cd'))

인덱싱하기

In [50]:
t1 = (1, 2, 'a', 'b')
t1[0]

1

슬라이싱하기

In [51]:
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

튜플 더하기

In [52]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2
t3

(1, 2, 'a', 'b', 3, 4)

튜플 곱하기

In [53]:
 t2 = (3, 4)
 t3 = t2 * 3
 t3

(3, 4, 3, 4, 3, 4)

튜플 길이 구하기

In [54]:
t1 = (1, 2, 'a', 'b')
len(t1)

4

# 02-5 딕셔너리 자료형

In [55]:
dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a = {1: 'hi'} # Key로 정숫값 1, Value로 문자열 'hi'
b = {'a': [1, 2, 3]} # Value에 리스트도 가능

딕셔너리 쌍 추가하기

In [56]:
a = {1: 'a'}
a[2] = 'b' # 딕셔너리 a에 {2: 'b'} 딕셔너리 쌍 추가
a

{1: 'a', 2: 'b'}

딕셔너리 요소 삭제하기

In [57]:
del a[1]
a # del a[key]를 입력하면 지정한 Key에 해당하는 {Key: Value} 쌍 삭제

{2: 'b'}

딕셔너리에서 Key를 사용해 Value 얻기

In [58]:
grade = {'pey': 10, 'julliet': 99}
grade['pey'] # 딕셔너리_변수_이름[Key] 사용

10

In [59]:
a = {'a': 1, 'b': 2}
a['a'] # a[Key]로 Key에 해당하는 Value를 얻을 수 있음

1

딕셔너리 만들 때 주의할 사항

In [60]:
# 딕셔너리에서 Key는 고유한 값이므로 Key가 중복되었을 때 1개를 제외한 나머지 Key: Vlaue 값이 모두 무시됨
# Key에 리스트는 쓸 수 없음

딕셔너리 관련 함수

Key 리스트 만들기 - keys

In [61]:
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.keys() # a.keys()는 딕셔너리 a의 Key만을 모아 dict_keys 객체를 리턴

dict_keys(['name', 'phone', 'birth'])

In [62]:
list(a.keys()) # dict_keys 객체를 리스트로 변환

['name', 'phone', 'birth']

Value 리스트 만들기 - values

In [63]:
a.values() # Value만 얻고 싶다면 dict_values 객체를 리턴

dict_values(['pey', '010-9999-1234', '1118'])

Key, Value 쌍 얻기 - items

In [64]:
a.items() # Key와 Value의 쌍을 튜플로 묶은 값을 dict_items 객체로 리턴

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

Key: Value 쌍 모두 지우기 - clear

In [65]:
a.clear() # clear 함수는 딕셔너리 안의 모든 요소 삭제
a

{}

Key로 Value 얻기 - get

In [66]:
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.get('name') # get(x) 함수는 x라는 Key에 대응되는 Value를 리턴, a['name']와 동일한 결괏값 리턴

'pey'

In [67]:
print(a.get('nokey')) # 딕셔너리 안에 찾으려는 Key가 없을 경우 None 리턴
a['nokey'] # 오류 발생

None

KeyError: 'nokey'

In [ ]:
a.get('nokey', 'foo') # get(x, '디폴트 값)

해당 Key가 딕셔너리 안에 있는지 조사하기 - in

In [ ]:
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
'name' in a # 'name' 문자열은 a 딕셔너리의 Key 중 하나이므로 참(True) 리턴

In [ ]:
'email' in a # 'email'은 a 딕셔너리 안에 존재하지 않는 Key이므로 거짓(False) 리턴

# 02-6 집합 자료형

In [ ]:
s1 = set([1, 2, 3]) # 집합 자료형은 set()의 괄호 안에 리스트를 입력해 만들거나
s2 = set("Hello") # 문자열을 입력해 만들 수 있음

In [ ]:
s = set() # 비어 있는 집합 자료형

집합 자료형의 특징

In [ ]:
s2 = set("Hello") # 중복을 허용하지 않는다, 순서가 없다
s2

In [ ]:
# set 자료형에 저장된 값을 인덱싱으로 접근하려면 리스트나 튜플로 변환한 후에 해야 함
s1 = set([1, 2, 3])
l1 = list(s1)
t1 = tuple(s1)

교집합, 합집합, 차집합 구하기

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

교집합 구하기

In [ ]:
s1 & s2

In [ ]:
s1.intersection(s2)

합집합 구하기

In [ ]:
s1 | s2

In [ ]:
s1.union(s2)

차집합 구하기

In [ ]:
s1 - s2

In [ ]:
s1.difference(s2)

값 1개 추가하기 - add

In [ ]:
s1 = set([1, 2, 3])
s1.add(4)
s1

값 여러 개 추가하기 - update

In [ ]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

특정 값 제거하기 - remove

In [ ]:
s1 = set([1, 2, 3])
s1.remove(2)
s1