<a href="https://colab.research.google.com/github/sooibn/Bigpy/blob/main/4%EC%A3%BC%EC%B0%A8_%EC%8A%A4%ED%84%B0%EB%94%94%EC%9E%90%EB%A3%8C_%EC%9D%B4%EC%88%98%EB%B9%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 03-2 while문

while문의 기본 구조

In [1]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit +1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

while문 만들기

In [3]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number: """

number = 0
while number != 4:
    print(prompt)
    number = int(input())

1. Add
2. Del
3. List
4. Quit

Enter number:
3

1. Add
2. Del
3. List
4. Quit

Enter number:
4

while문 강제로 빠져나가기

In [4]:
coffee = 10
money = 300
while money:
  print("돈을 받았으니 커피를 줍니다.")
  coffee = coffee -1
  print("남은 커피의 양은 %d개입니다." % coffee)
  if coffee == 0:
    print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
    break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [6]:
# coffee.py
coffee = 10
while True:
  money = int(input("돈을 넣어 주세요: "))
  if money == 300:
    print("커피를 줍니다.")
    coffee = coffee -1
  elif money > 300:
    print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
    coffee = coffee -1
  else:
    print("돈을 다시 돌려주고 커피를 주지 않습니다.")
    print("남은 커피의 양은 %d개 입니다." % coffee)
  if coffee == 0:
    print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
    break

돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 8개 입니다.
돈을 넣어 주세요: 0
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 8개 입니다.

KeyboardInterrupt: Interrupted by user

while문의 맨 처음으로 돌아가기

In [7]:
# 1~10까지의 숫자 중 홀수만 출력
a = 0
while a < 10:
  a = a + 1
  if a % 2 == 0: continue
  print(a)

1
3
5
7
9

무한 루프

In [ ]:
while True:
  print("Ctrl+c를 눌러야 while문을 빠져나갈 수 있습니다.")

# 03-3 for문

for문의 기본 구조

In [9]:
test_list = ['one', 'two', 'three']
for i in test_list:
  print(i)

one
two
three

In [10]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
  print(first + last)

3
7
11

In [11]:
marks = [90, 25, 67, 45, 80]   # 학생들의 시험 점수 리스트

number = 0   # 학생에게 붙여 줄 번호
for mark in marks:   # 90, 25, 67, 45, 80을 순서대로 mark에 대입
    number = number +1
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else:
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

for문과 continue문

In [12]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number +1
    if mark < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다. " % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

for문과 함께 자주 사용하는 range 함수

In [13]:
a = range(10)
a

range(0, 10)

In [14]:
a = range(1,11)
a

range(1, 11)

In [15]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [16]:
for i in range(2, 10):
  for j in range(1, 10):
    print(i*j, end=" ")
  print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

리스트 컴프리헨션 사용하기

In [17]:
a = [1,2,3,4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [18]:
a = [1,2,3,4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [19]:
result = [x*y for x in range(2,10)
              for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

# 04-1 함수

파이썬 함수의 구조

In [20]:
def add(a, b):
  return a + b

In [21]:
a = 3
b = 4
c = add(a, b) # add(3, 4)의 리턴값을 c에 대입
print(c)

7

매개변수와 인수

In [22]:
def add(a, b): # a, b는 매개변수
  return a + b

print(add(3, 4)) # 3, 4는 인수

7

In [23]:
def add(a, b):
    result = a + b
    return result
a = add(3, 4)
print(a)

7

In [24]:
# 입력값이 없는 함수
def say():
  return 'Hi'
a = say()
print(a)

Hi

In [25]:
# 리턴값이 없는 함수
def add(a, b):
  print("%d, %d의 합은 %d입니다." % (a, b, a+b))
add(3, 4)

3, 4의 합은 7입니다.

In [27]:
# 입력값도 리턴값도 없는 함수
def say():
  print('Hi')
say()

Hi

매개변수를 지정하여 호출하기

In [28]:
def sub(a, b):
  return a - b
result = sub(a=7, b=3) # a에 7, b에 3을 전달
print(result)

4

입력값이 몇 개가 될지 모를 때는 어떻게 해야 할까?

In [29]:
def add_money(*args):
  result = 0
  for i in args:
    result = result + i # *args에 입력받은 모든 값을 더한다.
  return result

In [31]:
result = add_money(1,2,3)
print(result)

6

In [32]:
# 키워드 매개변수, kwargs
def print_kwargs(**kwargs):
  print(kwargs)

In [33]:
print_kwargs(a=1)

{'a': 1}

In [34]:
print_kwargs(name='foo', age=3)

{'name': 'foo', 'age': 3}

함수의 리턴값은 언제나 하나이다

In [37]:
def add_and_mul(a,b):
  return a+b, a*b
result = add_and_mul(3,4)
print(result)

(7, 12)

In [38]:
def add_and_mul(a,b):
  return a+b
  return a*b
result = add_and_mul(2,3)
print(result)

5

In [39]:
# return을 단독으로 써서 함수를 즉시 빠져나가기
def say_nick(nick):
  if nick == "바보":
    return
  print("나의 별명은 %s 입니다." % nick)

In [40]:
say_nick('야호')

나의 별명은 야호 입니다.

In [41]:
say_nick('바보')

매개변수에 초깃값 미리 설정하기

In [42]:
def say_myself(name, age, man=True):
    print("나의 이름은 %s 입니다." % name)
    print("나이는 %d살입니다." % age)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [43]:
say_myself("박응용", 27)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [44]:
say_myself("박응선", 27, False)

나의 이름은 박응선 입니다.
나이는 27살입니다.
여자입니다.

함수 안에서 선언한 변수의 효력 범위

In [46]:
a = 1
def vartest(a):
    a = a +1

vartest(3)
print(a)

1

함수 안에서 함수 밖의 변수를 변경하는 방법

In [47]:
# 1. return 사용하기
a = 1
def vartest(a):
  a = a +1
  return a
a = vartest(a)
print(a)

2

In [48]:
# 2. global 명령어 사용하기
a = 1
def vartest():
  global a
  a = a+1
vartest()
print(a)

2

lambda 예약어

In [49]:
add = lambda a, b: a+b
result = add(3, 4)
print(result)

7

In [50]:
def add(a, b):
  return a+b

result = add(3, 4)
print(result)

7