<a href="https://colab.research.google.com/github/sooibn/Bigpy/blob/main/4%EC%A3%BC%EC%B0%A8_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

while문으로 Hello World를 10번 출력하시오.
(조건문에는 숫자형 변수를 포함하시오)

In [2]:
a = 0
while a < 10:
    print("Hello World")
    a += 1

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

input()함수로 입력값을 받아 조건이 맞을 시 Hello World를 5번 출력하시오

In [3]:
number = int(input())
a = 0
while a < 5:
    print("Hello World")
    a += 1

3
Hello World
Hello World
Hello World
Hello World
Hello World

while True:로 시작하는 반복문을 Hello World 출력을 5번 반복 후 루프에서 빠져나가도록 작성하시오.

In [5]:
a = 0
while True:
    print("Hello World")
    a += 1
    if a == 5:
        break

Hello World
Hello World
Hello World
Hello World
Hello World

while 반복문을 사용하여 1부터 10까지 숫자를 출력할 때 짝수는 출력하지 않고 시작점으로 돌아가도록 작성하시오.

In [9]:
a = 0
while a < 10:
  a = a + 1
  if a % 2 == 0:
    continue
  else:
    print(a)

1
3
5
7
9

for 문을 이용하여 구구단 2단을 출력하시오

In [10]:
for i in range(1, 10):
    print("2 *", i, "=", 2 * i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

for 문을 이용하여 ['바나나', '사과', '수박']리스트의 요소를 순서대로 하나씩 출력하시오.

In [11]:
list = ['바나나', '사과', '수박']
for i in list:
    print(i)

바나나
사과
수박

for문과 range 함수를 이용하여 -7에서 -3까지 출력하시오(range함수에는 음수가 들어가도록 하시오)

In [12]:
for i in range(-7, -2):
    print(i)

-7
-6
-5
-4
-3

for문과 range만을 이용하여 2부터 10까지 짝수만 출력하시오(반복문 내에서 연산 수행 x)

In [13]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

for문을 이용하여 Hello world 문자열을 한 글자씩 출력하시오

In [14]:
for i in "Hello world":
    print(i)

H
e
l
l
o

w
o
r
l
d

본인의 이름을 입력받아 내 이름은 ㅇㅇㅇ입니다를 반환하는 함수를 만드시오

In [16]:
def introduce(name):
    print("내 이름은", name, "입니다")
str = input()
introduce(str)

이수빈
내 이름은 이수빈 입니다

두 숫자를 입력하면 더하기 빼기 곱하기 나누기를 순서대로 출력하는 함수를 만드시오

In [22]:
def cal(a, b):
    print(a + b)
    print(a - b)
    print(a * b)
    print(a / b)

입력의 수를 모르는 상태에서 입력을 모두 더하여 반환하는 함수를 만드시오

In [21]:
def sum(*args):
    result = 0
    for i in args:
        result += i
    return result

2개의 리스트를 입력받을 때 두 리스트의 길이가 같은지 불 자료형으로 반환하시오

In [20]:
def list(list1, list2):
  if len(list1) == len(list2):
    return True
  else:
    return False

두개의 리스트를 입력받고 위에서 만든 함수를 이용해 두 리스트의 길이가 같다고 판별되면 두 리스트를 이용하여 딕셔너리를 만들어 반환하는 함수를 만드시오

In [25]:
def dic_make(list1, list2):
  if len(list1) == len(list2):
    dic = dict(zip(list1, list2))
    return dic

글로벌 변수를 이용하여 plus() 함수가 수행될 때마다 변수에 5가 더해지도록 함수를 정의하시오

In [31]:
def plus():
  global total
  total = total + 5
  return total
total = int(input())
print(plus())

3
8